<h1></h1>

<form action="/usersignup"method="post">
 
    <input type="text" name="name" placeholder="enter name" required>
    <br>
    <br>
    <input type="text" name="password" placeholder="enter password" required>
    <br>
    <br>

    <input type="submit"  value="verify">
</form>