

{{>adminTop}}
<section>

<div class="container mt-4">

<div class="row">

<div class="col-md-12">
    
    <h2 class="text-center">Add Category</h2>

<form action="/admin/addCategory"method="POST"  enctype="multipart/form-data"  >
<label for="">Category Name</label>
 <input type "text" name="cName" class="form-control">

<button type="submit" class="btn btn-success mt-4">Submit</button>

</form>

</div>
</div>
</div>


</section>
{{>adminBottom}}