<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>DASHMIN - Bootstrap Admin Template</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">

    <!-- Favicon -->
    <link href="/img/favicon.ico" rel="icon">

    <!-- Google Web Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
    <!-- Icon Font Stylesheet -->
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.10.0/css/all.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <!-- Libraries Stylesheet -->
    <link href="/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">
    <link href="/lib/tempusdominus/css/tempusdominus-bootstrap-4.min.css" rel="stylesheet" />

    <!-- Customized Bootstrap Stylesheet -->
    <link href="/css/bootstrap.min.css" rel="stylesheet">

    <!-- Template Stylesheet -->
    <link href="/css/style.css" rel="stylesheet">
</head>

<body>
    <div class="container-xxl position-relative bg-white d-flex p-0">
        <!-- Spinner Start -->
        <div id="spinner" class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
        <!-- Spinner End -->


        <!-- Sidebar Start -->
        <div class="sidebar pe-4 pb-3">
            <nav class="navbar bg-light navbar-light">
                <a href="index.html" class="navbar-brand mx-4 mb-3">
                    <h3 class="text-primary"><i class="fa fa-hashtag me-2"></i>NOIZZ</h3>
                </a>
                <div class="d-flex align-items-center ms-4 mb-4">
                  
                   
                </div>
                <div class="navbar-nav w-100">
                    <a href="/admin/dashboard" class="nav-item nav-link"><i class="fa fa-tachometer-alt me-2"></i>Dashboard</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fas fa-shopping-bag"></i>Products</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/adminAllproducts" class="dropdown-item">All Products</a>
                             {{#each category }}                       
                            <a href="/admin/getCategoryProduct?category={{this.Category}}" class="dropdown-item">{{this.Category}}</a>
                             {{/each}}
                            <a href="/admin/add-product" class="dropdown-item">Add Products</a>
                        </div>
                    </div>   
                    <a href="/admin/allUsers" class="nav-item nav-link"><i class="fas fa-user"></i>Users</a>
                    <a href="/admin/getAllCategory" class="nav-item nav-link"><i class="fa fa-th me-2"></i>Category </a>
                    <a href="/admin/allOrders" class="nav-item nav-link"><i class="fa-brands fa-first-order-alt" style="color: #030a17;"></i>Orders</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-gift"></i>Coupon</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="/admin/getCouponPage" class="dropdown-item">All Coupon</a>
                                              
                           
                            
                            <a href="/admin/addcoupon" class="dropdown-item">Add Coupon</a>
                        </div>
                    </div> 
                     
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa fa-file"></i>Sales Report</a>
                        <div class="dropdown-menu bg-transparent border-0">
                          
                                               
                <a class="nav-link" href="/admin/totalSaleExcel">Total Sale</a>
                <a class="nav-link" href="/admin/todayRevenueExcel">Today Revenue</a>
                <a class="nav-link" href="/admin/allProductExcel">All Product</a>
                <a class="nav-link" href="/admin/allOrderStatusExcel">All OrderStatus</a>
                <a class="nav-link"  href="/admin/orderDetailPDF">Order View</a>

  <label for="start">Start Date:</label>
                  <input type="date" id="start" name="start" required>
                
                  <label for="end">End Date:</label>
                  <input type="date" id="end" name="end" required>
                
                  <a style="color: aliceblue;" class="nav-link" href="/admin/customDate">
                  <button id="customDateLink" class="Btn">
                    <svg class="svgIcon" viewBox="0 0 384 512" height="1em" xmlns="http://www.w3.org/2000/svg"><path d="M169.4 470.6c12.5 12.5 32.8 12.5 45.3 0l160-160c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0L224 370.8 224 64c0-17.7-14.3-32-32-32s-32 14.3-32 32l0 306.7L54.6 265.4c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3l160 160z"></path></svg>
                    <span class="icon2"></span>
                    <span class="tooltip">Download</span>
                 </button>
                </a>
                        </div>
                    </div>  

                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown"><i class="fa-solid fa-image"></i>Banner</a>
                        <div class="dropdown-menu bg-transparent border-0">
                           <a href="/admin/bannerList" class="dropdown-item">Banner List</a>
                             <a href="/admin/addBanner" class="dropdown-item">Add Banner</a>                  
                            
                        </div>
                    </div> 


                    <a href="chart.html" class="nav-item nav-link"><i class="fa fa-chart-bar me-2"></i>Promotions</a>
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle active" data-bs-toggle="dropdown"><i class="far fa-file-alt me-2"></i>setings</a>
                        <div class="dropdown-menu bg-transparent border-0">
                            <a href="signin.html" class="dropdown-item">Sign In</a>
                            <a href="signup.html" class="dropdown-item">Sign Up</a>
                            <a href="404.html" class="dropdown-item">404 Error</a>
                            <a href="blank.html" class="dropdown-item active">Blank Page</a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <!-- Sidebar End -->


        <!-- Content Start -->
        <div class="content">
            <!-- Navbar Start -->
            <nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0">
                <a href="index.html" class="navbar-brand d-flex d-lg-none me-4">
                    <h2 class="text-primary mb-0"><i class="fa fa-hashtag"></i></h2>
                </a>
                <a href="#" class="sidebar-toggler flex-shrink-0">
                    <i class="fa fa-bars"></i>
                </a>
             
                <div class="navbar-nav align-items-center ms-auto">
                  
                    <div class="nav-item dropdown">
                        <a href="#" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                           
                            <span class="d-none d-lg-inline-flex">Noizz Admin</span>
                        </a>
                        <div class="dropdown-menu dropdown-menu-end bg-light border-0 rounded-0 rounded-bottom m-0">
                           
                            <a href="#" class="dropdown-item">Settings</a>
                            <a href="/admin/logOut" class="dropdown-item">Log Out</a>
                        </div>
                    </div>
                </div>
            </nav>

             <script>
                  const customDateLink = document.getElementById('customDateLink');
                  const startDateInput = document.getElementById('start');
                  const endDateInput = document.getElementById('end');
                
                  customDateLink.addEventListener('click', (event) => {
                    event.preventDefault(); // Prevent the default link behavior
                
                    const startDate = startDateInput.value;
                    const endDate = endDateInput.value;
                
                    setTimeout(() => {
                      const url = `/admin/customDate?start=${encodeURIComponent(startDate)}&end=${encodeURIComponent(endDate)}`;
                      window.open(url, '_blank');
                    }, 1000); 
                  });
                </script>